
@font-face {
  font-family: 'Work Sans';
  src: url("./WorkSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url("./Heebo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body{
  --main-bg-color: rgb(221, 221, 221);
  background-color:var(--main-bg-color);
  font-family: "Heebo", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
  /* letter-spacing: 0.2px; */
}


h1, h2, h3, h4, h5{
  font-family: "Work Sans","Roboto";
  letter-spacing: .5px;
  font-weight: 600;
}

button{
  font-family: "Work Sans","Roboto";
}



@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}
